<!--Creates page for the Login page-->

{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form method="POST">
      <div>
      </div>
    
      <div class="col d-flex justify-content-center row h-100 mt-5">
      <div class="card mb-3" style="width: 35rem;">
        <h3 class="card-header" align="center">Login</h3>
        <div class="card-body">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter password"
            />
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>
      
    </form>
    {% endblock %}
    