{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    
    <h1 align="center">My Drinks</h1>
    <ul class="list-group list-group-flush" id="drinks">
      {% for drink in current_user.drinks %}
      <li class="list-group-item">
        {% set stars = drink.data | int %}
          {% for i in range(stars) %}
          <div class="rating">
            <input type="radio" id="star6" name="rating" value="6" />
            <label for="star6" title="text">6 stars</label>
          </div>
            
          {% endfor %}
            <div class = "a" style="position:relative;"><font size="+1">{{ drink.image }}</font></div>  

             
        <div class ="b" >
          <button type="button" class="close" onClick="deleteDrink({{drink.id}})" style="float: right;" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
      </li>
      {% endfor %}
    </ul>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}"/>
    
    <form method="POST">
      <div class="rating">
          <input type="radio" id="star5" name="rating" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rating" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rating" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rating" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rating" value="1" />
          <label for="star1" title="text">1 star</label>
        </div>
     
      <textfield name="drink" id="drink" class="form-control"> {{ name }}</textfield>

      <div align="center">
        <button type="submit" class="btn btn-primary">Add Drink</button> 
      </div>
      

      
    </form>
    

    {% endblock %}