<!--Styles and creates page for the random drink generator-->

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <!--TODO: needs to be updates and connected with the drink generator backend-->
    <div class="position-fixed z-n1 top-0 start-0">
      <img class="img-fluid" src="static/home.jpg">
    </div>
    <div class="position-relative opacity-75">
    <form method="POST">
    <div class="col d-flex justify-content-center row h-100 mt-5">
    <div class="card mb-3" style="width: 40rem;">
      <h1 class="card-header" align="center">Generate Your Drink</h1>
      <div class="card-body">
        <form class="row gy-2 gx-3 align-items-center">
          <div class="col-auto">
            <label class="visually-hidden" for="autoSizingSelect">Preference</label>
            <select class="form-select" id="autoSizingSelect" name="temp">
              <option selected>Hot or Iced?</option>
              <option value="1">Hot</option>
              <option value="2">Iced</option>
              <option value="3">No Preference</option>
            </select>
          </div>
          <div class="col-auto">
            <label class="visually-hidden" for="autoSizingSelect">Preference</label>
            <select class="form-select" id="autoSizingSelect" name="caf">
              <option selected>Caffiene or Decaf?</option>
              <option value="1">Caffiene me up</option>
              <option value="2">No Please</option>
              <option value="3">No Preference</option>
            </select>
          </div>
          <div class="col-auto">
            <label class="visually-hidden" for="autoSizingSelect">Preference</label>
            <select class="form-select" id="autoSizingSelect" name="sweet">
              <option selected>Sugar Rush or No Diabetes</option>
              <option value="1">Sweet</option>
              <option value="2">Unsweet</option>
              <option value="3">No Preference</option>
            </select>
          </div>
              </label>
            </div>
              <center><a class="nav-item nav-link" id="myDrinks" href="/my_drinks"><font size="+2"><u>{{drink}}</u></font></a></center>    
          </div>
        </form>
        
        <br />
        <div align="center">
          <button name="gen" type="submit" class="btn btn-primary"
          >Generate Drink
        </button> <!--Button to generate the drink-->
        </div>
      </div>
    </div>
  </div>
</div>
  
    {% endblock %}
    